.fullStats {
    background-color:  #f3f1f1;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'helvetica';
    margin-top: 20px;
  }
  
  .fullStatsActive, .fullStats:hover {
    background-color: #044a33;
    color: white;

  }
  
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f2f2f2;

  }
  

  .bordercolor {
    background-color:  #f3f1f1;

  }
  
  .headerblacked {
    color: #5a5c69;
    font-family: 'Bebas';
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }

  .bodyblacked {
    color: black;
    text-align: center;


  }

  .viewform {
    color: black;
  }

.tableblacked {
  color: white;
  background-color: #5a5c69;
  text-align: center;

}


.pg-img {
  height: auto;
  background-image: url('img/spup4.jpg'); 
  background-repeat: no-repeat; 
  background-size: 100%;
}

.hether1 {
  padding: 1px;
  background: #ffcc04;

}

.hether2 {
  padding: 20px;
  text-align: center;
  background: #044a33;
  color: white;
  font-size: 20px;

}
.hether4 {
  padding: 1px;
  background: #ffcc04;

}
.hether3 {
  padding: 10x;
  background: #044a33;
  color: white;
  text-align: center;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ffcc04;
  font-family: sans-serif;
}

.active {
  background-color: #044a33;
}


.futer {
  padding: 20px;
  text-align: center;
  background: #044a33;
  color: white;
  font-size: 13px;
}
