.fullStats {
    background-color:  #f3f1f1;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'helvetica';
    margin-top: 20px;
  }

  .fullStats2 {
    background-color:  #f3f1f1;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-family: 'helvetica';
  }
  
  .fullStatsActive, .fullStats:hover {
    background-color: #044a33;
    color: white;

  }

  .fullStats2Active, .fullStats2:hover {
    background-color: #044a33;
    color: white;

  }


  
  .headerpic {
    height: 50px;
    margin-left: 100px;
  }

  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f2f2f2;


  }
  

  .bordercolor {
    background-color:  #f3f1f1;

  }
  
  .headerblacked {
    color: #5a5c69;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }

  .bodyblacked {
    color: black;
    text-align: center;
  }

  .bodyblacked2 {
    color: black;
    font-size: 17px;
  }

  .viewform {
    color: black;
  }

.tableblacked {
  color: white;
  background-color: #5a5c69;
  text-align: center;

}


.pg-img {
  height: auto;
  background-image: url('img/spup4.jpg'); 
  background-repeat: no-repeat; 
  background-size: 100%;
}



.userhether1 {
  padding: 2px;
  background: #ffcc04;

}

.hether2 {
  padding: 15px;
  text-align: center;
  background: #044a33;
  color: white;
}

.userhether3 {
  margin-top: -49px;
}

.futer1 {
  padding: 2px;
  background: #ffcc04;
}

.futer2 {
  padding: 20px;
  text-align: center;
  background: #044a33;
  color: white;
  font-size: 15px;
}


.adminhether1 {
  padding: 1px;
  background: #ffcc04;

}

.adminhether2 {
  padding: 20px;
  text-align: center;
  background: #044a33;
  color: white;
  font-size: 20px;

}
.adminhether4 {
  padding: 1px;
  background: #ffcc04;

}
.adminhether3 {
  padding: 10x;
  background: #044a33;
  color: white;
  text-align: center;
}




.header {
  overflow: hidden;
  background-color: #044a33;
  padding: 10px 10px;
  justify-content: space-between;
  display: flex;
}


.header-right:hover {
  text-decoration: none;
  color: white;
  background-color: green;
}


.header-right a.active {
  background-color: #ffcc04;
  color: white;
}

.header-right {
 color: white;
 padding: 12px;
 text-decoration: none;
 font-size: 18px; 
 line-height: 25px;
 border-radius: 4px;

}

.userbtn {
  text-align: center;
  color: white;
  background: #e6bb11;
  padding: 9px 25px 9px 25px;
  border-radius: 5px;
  
}

.userbtn:hover {
  text-decoration: none;
  background: #ffcc04;
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  

}






ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ffcc04;
  font-family: sans-serif;
}

.active {
  background-color: #044a33;
}


.futer {
  padding: 20px;
  text-align: center;
  background: #044a33;
  color: white;
  font-size: 12px;
}


.userbtn {
  text-align: center;
  color: white;
  background: #e6bb11;
  padding: 9px 25px 9px 25px;
  border-radius: 5px;
  display:inline-block;
  
}

.userbtn:hover {
  text-decoration: none;
  background: #ffcc04;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}


.piccontainer {
  position: relative;
  color: white;
  width: 100%;

}


/* .divbg {
  background-color: #f1f1f1;
  width: 100%;
  margin: auto;
} */

.darkbg {
  filter: brightness(50%);
  width: 100%;
  height: 300px;
  margin: auto;
  object-fit: cover;
  object-position: center;
  font-family: 'Segoe UI';
}



.hdrbtn {
  margin-top: 10px;
  margin-right: 200px;
}


.colorcb {
  background-color: #fafafa;
}




* {
  margin: 0;
  padding: 0
}

html {
  height: 100%
}

p {
  color: grey
}

#heading {
  text-transform: uppercase;
  color: #673AB7;
  font-weight: normal
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

.form-card {
  text-align: left
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 16px;
  letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #673AB7;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: #673AB7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311B92
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000
}

.card {
  z-index: 0;
  border: none;
  position: relative
}

.fs-title {
  font-size: 25px;
  color: black;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left
}

.purple-text {
  color: #673AB7;
  font-weight: normal
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right
}

.fieldlabels {
  color: black;
  text-align: left
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey
}

#progressbar .active {
  color: #673AB7
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e"
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007"
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030"
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #ffcc04
}

.progress {
  height: 20px
}

.progress-bar {
  background-color: #673AB7
}

.fit-image {
  width: 100%;
  object-fit: cover
}

.statisticsYear {
  width: 80px;
}

.statisticsDay {
  width: 80px;
}